<nav class="navbar bg-black header">
    <div class="container">
        <div class="col text-start">
            <a class="navbar-brand" href="home">HOME</a>
            <a class="navbar-brand" href="home/overview">Overview</a>
            <!-- <a class="navbar-brand" href="home/logs">Logs</a> -->
        </div>
        <div class="col-md-2 text-end">
            <form class="form-inline">
                <button class="p-button-danger" pButton type="button" (click)="logout()">Logout <i class="pi pi-sign-out"
                        style="margin-left: 5px; font-size: 14px;"></i></button>
            </form>
        </div>
    </div>
</nav>
