<div class="container mt-5">
    <div>
       <span routerLink="/home/um" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="pi pi-list" style="margin-right: 5px; font-size: 16px;"></i>
        USER MANAGEMENT
    </span> 
    </div>
    
    <div class="mt-3">
       <span routerLink="/home/logs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="pi pi-envelope" style="margin-right: 5px; font-size: 16px;"></i>
        LOGS
    </span> 
    </div>
</div>





  