
  <div class="container mt-5 mb-5">
  <div>
    <a class="a"
    href="home/um"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <i class="pi pi-list" style="margin-right: 5px; font-size: 16px"></i>
      USER MANAGEMENT
  </a>
  </div>

  <div class="mt-3">
    <a
      href="home/logs"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <i class="pi pi-envelope" style="margin-right: 5px; font-size: 16px"></i>
      LOGS
  </a>
  </div>
</div>


