<div class="container mt-5">
   
          <div class="row">
        <div class="col-md-2">
            <p-calendar [(ngModel)]="selectedMonth" view="month" dateFormat="mm/yy" placeholder="Select month" (onSelect)="ShowDays()" ></p-calendar>
            
        </div>
        <div class="col-md-4">
            <div class="p-field-checkbox mt-2">
            <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
            <label  for="binray"> Show unactive employees</label>
        </div>
        </div>
    </div>
    <div class="row mt-4">
         <p-table [value]="employees" dataKey="name" [paginator]="true" [rows]="5"   responsiveLayout="scroll" >
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th>Employee name</th>
                <!-- <th>Sick leave</th>
                <th>Vacation</th>
                <th>Start of work</th>
                <th>End of work</th>
                <th>Break start</th>
                <th>Break end</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee let-expanded="expanded">
            <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="employee" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                <td>{{employee.first_name}} {{employee.last_name}}</td>
                <!-- <td>
                    <div class="p-field-checkbox">
                        <p-checkbox [(ngModel)]="employee.sick_leave" [binary]="true" inputId="binary"></p-checkbox>
                    </div>
                </td>
                <td>
                    <div class="p-field-checkbox">
                        <p-checkbox [(ngModel)]="employee.vacation" [binary]="true" inputId="binary"></p-checkbox>
                        
                    </div>
                </td>
                <td>
                    <p-calendar [(ngModel)]="employee.startOfWork" appendTo="body" [timeOnly]="true"
                     inputId="navigators">
                    </p-calendar>
                </td>
                <td>
                    <p-calendar [(ngModel)]="employee.endOfWork" appendTo="body" [timeOnly]="true"
                     inputId="navigators">
                    </p-calendar>
                </td>
                <td>
                    <p-calendar [(ngModel)]="employee.break1" appendTo="body" [timeOnly]="true"
                     inputId="navigators">
                    </p-calendar>
                    
                </td>
                <td>
                    <p-calendar [(ngModel)]="employee.break2" appendTo="body" [timeOnly]="true"
                     inputId="navigators">
                    </p-calendar>
                </td> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-employee>
            <tr>
                <td colspan="7">
                    <div class="p-p-3">
                        <p-table [value]="employee.reports" dataKey="id">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th >Date </th>
                                    <th >Sick leave</th>
                                    <th >Vacation </th>
                                    <th>Start of work </th>
                                    <th>End of work</th>
                                    <th >Break start</th>
                                    <th>Break end</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-report>
                                <tr>
                                    <td>{{report.result}}</td>
                                    <td >{{employee.report.sick_leave}}</td>
                                    <td>{{employee.report.vacation}}</td>
                                    <td>{{employee.report.startOfWork}}</td>
                                    <td>{{employee.report.endOfWork}}</td>
                                    <td>{{employee.report.break1}}</td>
                                    <td>{{employee.report.break2}}</td>
                                  
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>

        </ng-template>
    </p-table>
    </div>
    <div class="row mt-4 text-end">
        <div>
             <button pButton type="button" class="p-button-success"  ><i class="pi pi-pencil" style="margin-right: 5px; font-size: 14px;"></i>  Save report</button>
        </div>
       
    </div>
</div>
  
   

